html { font-size: 10px;
font-family: Helvetica, Arial, sans-serif; }


header, main { padding: 1.8rem;
background-color:10px green solid
}
 



h1 {line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
}


nav#a {
display: inline-block;
padding: 1.5em;
border-right: 2px solid red;
margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
float: right;
position: clip;
height: 100px;
  width: 90%;
}


ul {
  list-style-type: none;
  margin: 3;
  padding: 0.6;
  overflow: hidden;
  background-color: #FF8000;

}

section {
  display: block;
color: #F8F0FF;
padding: 1.8rem;
font-size: large;
background-color: #FF8000;

}


section2 {
  display: block;
color: #F8F0FF;
padding: 1.8rem;
font-size: large;
background-color: #57002B;
}


section3 {

foreground-color: #004200;
  display: block;
color: #F8F0FF;
padding: 1.8rem;
font-size: large;
background-color: #00FFFF
}


section4 {
  display: block;
color: #F8F0FF;
padding: 4.5rem;
font-size: large;
background-color: #57002B;
}

rolex-1200 img {
float: left;
padding-right: 3em;
width: 60%;
}


footer {
 color: #FFF;
 background-color: #9900ff;
 padding: 12px;
 padding: 10px;
 margin-top: 25px;
    margin-bottom: 45px;
    margin-right: 45px;
    margin-left: 45px;
 height: auto;
 width: 80%;
display: block;
float: middle;
position: static;
position: clip;
height: 45px;
  width: 35%;

}



header {
    background-color: #FFC894;
    foreground-color: #004200;
    border-bottom-color: #5900b3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 1.8;
    padding: 0.6rem;
    margin-top: 35px;
    margin-bottom: 45px;
    margin-right: 45px;
    margin-left: 450px;
    display: block;
float: middle;
position: clip;
height: 90px;
  width: 80%;

}



li {
  float: left;
display: inline;
  display: block;
  color: #white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
font-size: large;
}

a {font-size: large;
   background-color: #66FFFF;
 } /*font size for the links <a>*/



body {
    background-color: #66ffff;
}
p { max-width: 1400px;
    background-color: #008020;
    line-height: 1.6;
   font-size: large;
width: 1400px;
    margin: auto;
  border: 2px solid #cc0000;
}

main {max-width: 150px;
      margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 25px;
display: contents;
float: right;
position: clip;
height: 100px;
  width: 90%;
}/*settings for <main>*/




h3 {
display: inline-block;
padding: 1.5em;
border-right: 2px solid red;
margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
float:  left;
position: clip;
height: 100px;
  width: 90%;
}
h4 {display: inline-block;
padding: 1.5em;
border-right: 2px solid red;
margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
float: right;
position: clip;
height: 100px;
  width: 90%;
}

h5 {display: inline-block;
padding: 5.5em;
border-right: 2px solid red;
margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
float: right;
/*position: clip;*/
/*height: 600px;
  width: 60%;*/
}


h6 {display: inline-block;
padding: 1.3em;
border-right: 2px solid red;
margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
float: left;
/*position: clip;*/
height: 60px;
  width: 30%;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}





a:link { color: #e60000; }

a:visited { color: #990073; }

a:hover { color: #cc3300; background-color: #ebebe0; text-decoration: none; }

a:active { color: #ebebe0; background-color: #cc3300; text-decoration: none; }



</style>
